@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;/* Os ultimos parametros sao para nao repitir e alinahr no topo ao centro. */
    background-size: cover;/* o fundo cobrira a tela inteira.*/
    background-attachment: fixed;/* a pagina ficara fixa sem rolagem.*/
}

main {
   height: 100vh;
   position: relative;  
}

section#telefone {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    height: 650px;
    width: 500px;   
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
  position: relative;
  top: 81px;
  left: 23px;
  width: 265px;
  height: 468px;
}