@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: red;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;/* nesse caso o seletor so presiza 'ser backgrond' a imagem ira funcionar.*/
    background-size: cover;/*cover quer dizer cobrir, entao e tamanho do background : cobrir.*/
    background-attachment: fixed;
    
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

 section#redes-sociais img{
    width: 50px;
    margin: 12px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.418);
    box-sizing: border-box;/*--dimersão da cixa: borda da caixa;--  essa configuração faz com que a borda colocada no 'hover' não interfira nos outros elementos um do lado do outro.*/
    
 }

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.508);
    transform: translate(-3px, -3px);
    box-shadow:  3px 3px 2px 1px rgba(0, 0, 0, 0.418);
    transition: transform .5s, border .5s;/*nesse caso o transition vai fazer a trasição do trasform que foi iserido a animação aquele de cima ali mesmo.
    
    é o outo vai fazer a transição da borda, tudo isso feito em medida de segundos.*/
}



